[submodule "src/lv_3/lib/forge-std"]
	path = src/lv_3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "levels/lv_4/lib/forge-std"]
	path = levels/lv_4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
